.link{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
.link:hover{
    text-decoration: none;
}
.home{
    margin-left: 6%;
}
.collapse{
    margin-left: 5%;
}
.nav-link{
    color: #0078ff;
    font-weight: 600;
    font-family: 'Monserrat', sans-serif;
    font-size: 15px;
    
}
